<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>
<body>
    <h1>Carrinho</h1>
    <%- include('../../public/menu.html') %>
    <table>
        <th>Nome</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th></th>
        <tr>
            <% console.log(carrinho) %>
            <% for (let i=0; i < carrinho.length; i++){%>
                <td>
                    <%= carrinho[i].produtos[0].descricao %>
                </td>
                <td>
                    <%= carrinho[i].produtos[0].preco %>
                </td>
                    <%= carrinho[i].quantidade %>
                <td>
                    <a href="/produto/editar/<%=carrinho[i].produto[0].id %>">Editar</a>
                    <a href="/produto/editar/<%=carrinho[i].produto[0].id %>">Remover</a>
                </td>
            <% } %>
        </tr>
    </table>
    <h3>Total: R$<%= valortotal %></h3>
    <form action="/produto/finalizar" method="post">
        <select name="id_forma_pagamento">
            <option value="Cartão"></option>
            <option value="Boleto"></option>
            <option value="Pix"></option>
        </select>
    </form>
    <input type="submit" value="Finalizar Pedido">
</body>
</html>